:root {
    --primary: #00f083;
    --bgcolor: #1e1e1e;
    --codetext: #ccc;
    --codebg: #2d2d2d;
    --contentwidth: 60%;
    --contentwidthSmall: 99%;
    --borderradius: 0px;
    --disabledcolor: rgb(67, 67, 67);
}

body{
    margin: 0;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    background-color: var(--bgcolor);
}
#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: var(--contentwidth);
    align-self: center;
    margin-top: 2px;
}

.menu{
    display: flex;
    gap: 2px;
    width: 100%;
    margin-top: 4px;
    flex-wrap: wrap;
}

.menu-item {
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-color: var(--bgcolor);
    border-bottom-color: var(--primary);
    border-style: solid;
    text-decoration: none;
    transition: all 0.2s;
    flex-shrink: 5;
    border-radius: var(--borderradius);
    gap: 2px;
    padding: 2px;
}

.menu-item.active{
    background-color: var(--primary);
    color: var(--bgcolor);
}

.menu-item:hover {
    border-color: var(--primary);
}

.menu-item:active {
    transform: translate(1px,1px);
}

.footer{
    color: var(--primary);
    margin-top: auto;
    align-self: center;
    padding: 5px;
}

.logo{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.logo-img{
    color: var(--primary);
    font-size: 0.35rem;
    line-height: 0.2rem;
    width: 3rem;
    height: 3rem;
    margin: 0;
}


.logo-text{
    color: var(--primary);
    margin: 0px;
    font-size: 0.65rem;
    height: 2.2rem;
    width: 17.5rem;
}

.prompt-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    flex: 1;
}

.form{
    width: var(--contentwidth);
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-input{
    border-width: 1px;
    padding: 10px;
    border-color: var(--primary);
    border-style: solid;
    min-height: 35vh;
    color: var(--codetext);
    background-color: var(--codebg);
    border-radius: var(--borderradius);
    transition: all 0.25s;
}

.editor{
    min-height: inherit;
}

.disabledText{
    color: gray;
}

.form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    background-color: var(--bgcolor);
    color: var(--primary);

    border: 1px solid var(--primary);
    border-top-width: 0;
    transition: all 0.2s;
    font-size: medium;
    padding: 4px;
    width: 120px;
    height: 30px;
    border-radius: var(--borderradius);
}

.form-input:has(+ .form-button:active:enabled) {
    background-color: white;
}

.form-button:disabled{
    border-color: var(--disabledcolor);
    color: var(--disabledcolor);
}

.form-button:active{
    transform: translate(1px,1px);
}

.form-button:enabled:hover {
    background-color: var(--primary);
    color: var(--bgcolor);
    cursor: pointer;
}

.loading-text {
    font-size:  6pt;
}

.language-select{
    margin-left: auto;
    text-align: right;
    margin-top: auto;
}

.language-select__menu{
    margin: 0 !important;
    right: 0 !important;
    min-width: fit-content !important;
}

.language-select__control--is-focused{
    box-shadow: none !important;
    border-color: var(--codetext) !important;
}
.language-select__input-container{
    color: var(--codetext);
}
.language-select__menu-list{
    background-color: var(--bgcolor) !important;
    border-color: var(--codetext) !important;
    border-style: solid;
    border-width: 1px;

    color: var(--primary) !important;
    padding: 0 !important;
    max-height: fit-content !important;
}

.language-select__option {
    padding: 2px !important;
    border: 1px solid var(--bgcolor)!important;
}



.language-select__option--is-focused{
    border: 1px solid var(--primary) !important;
    background-color: var(--bgcolor) !important;
    color: var(--primary) !important;
}

.language-select__option--is-selected{
    background-color: var(--primary) !important;
    color: var(--bgcolor) !important;
}


.language-select__control{
    background-color: var(--bgcolor) !important;
    color: var(--primary) !important;
    border-radius: var(--borderradius) !important;
    font-size: 11pt;
    border: none !important;
    min-width: 15px;
}
.language-select__indicator-separator{
    display: none;
}
.language-select__single-value{
    color: var(--primary) !important;
    grid-area: auto !important;
    margin-left: auto !important;
    margin-right: 0px !important;
}

.language-select__indicator{
    padding: 2px !important;
    width: 15px !important;
    color: var(--primary) !important;
}

.language-select__value-container {
    padding: 0px !important;
    display: flex !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
}

textarea:focus-visible {
    outline: none;
}

@media (max-aspect-ratio: 1.2/1) {
    .form, .menu, .navbar {
        width: var(--contentwidthSmall);
    }
  }

@media (max-width: 350px) {
    .logo-img {
        display: none;
    }
}

@media (max-width: 330px) {
    .language-select__single-value, .language-select__indicator {
        display: none !important;
    }

    .language-select__control::after{
        content: "☰";
        position: absolute;
        right: 2px;
    }

    .logo-text{
        font-size: 0.45rem;
        width: 12rem;
    }
}